body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  /*top: 300px;*/
  bottom: 0;
  width: 100%;
  height: 100%;
}

/*.pop-text{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  white-space: pre;
  text-overflow: ellipsis;
}
*/

.truncate-overflow {
  --max-lines: 3;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem; /* space for ellipsis */
}
.truncate-overflow::before {
  position: absolute;
  content: "...";
  inset-block-end: 0; /* "bottom" */
  inset-inline-end: 0; /* "right" */
}
.truncate-overflow::after {
  content: "";
  position: absolute;
  inset-inline-end: 0; /* "right" */
  width: 1rem;
  height: 1rem;
  background: white;
}

/*If i want to change the marker, do it here.*/
.marker {
  background-image: url('icons/mapbox-icon.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
    width: 250px;
    height: 200px;
  }

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
  }


.example_f {
   border-radius: 4px;
   background: linear-gradient(to right, #4e62f8, #4e62f8) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 13px;
   padding: 10px;
   width: 180px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
 }
 .example_f span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .example_f span:after {
   content: '\FE62';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .example_f:hover span {
   padding-right: 25px;
 }
 .example_f:hover span:after {
   opacity: 1;
   right: 0;
 }

.submit-map-button{
   border-radius: 4px;
   background: linear-gradient(to right, #4e62f8, #4e62f8) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 13px;
   padding: 10px;
   width: 180px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
}



.checkbox-text-amenity{
  font-size: 13px;
}

#clear-filter-button{
  background: transparent;
  border: transparent;
  color: #4e62f8;
  text-decoration: underline;
  padding-left: 5px;
  padding-top: 0;
  font-size: 14px;
}

.form-group{
  margin-bottom: 0;
}

.single-site{
/*  border-left: solid 70px transparent; */
/*  border-right: solid 70px transparent; */
/*  border-bottom: solid 70px #fff;*/
  box-shadow: 3px 3px 10px #ECECEC;
  border-radius: 6px;
  width: 380px; 
  padding: 15px;
  margin-bottom: 10px;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




.filter-form-background{
  box-shadow: 3px 3px 10px #ECECEC;
  border-radius: 6px;
  width: 380px; 
  padding: 15px;
  margin-bottom: 40px;
}


/*.show-trip-full-div{
  background-color: gray;
}*/
