body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  /*top: 300px;*/
  bottom: 0;
  width: 100%;
  height: 100%;
}

/*.pop-text{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  white-space: pre;
  text-overflow: ellipsis;
}
*/

.truncate-overflow {
  --max-lines: 3;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem; /* space for ellipsis */
}
.truncate-overflow::before {
  position: absolute;
  content: "...";
  inset-block-end: 0; /* "bottom" */
  inset-inline-end: 0; /* "right" */
}
.truncate-overflow::after {
  content: "";
  position: absolute;
  inset-inline-end: 0; /* "right" */
  width: 1rem;
  height: 1rem;
  background: white;
}

/*If i want to change the marker, do it here.*/
.marker {
  background-image: url('icons/mapbox-icon.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
    width: 250px;
    height: 200px;
  }

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
  }


.example_f {
   border-radius: 4px;
   background: linear-gradient(to right, #2e0176, #630b49) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 13px;
   padding: 10px;
   width: 180px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
 }
 .example_f span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .example_f span:after {
   content: '\FE62';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .example_f:hover span {
   padding-right: 25px;
 }
 .example_f:hover span:after {
   opacity: 1;
   right: 0;
 }


