/*Sitewide  */

.line{

}

.navbar {
    /*background:linear-gradient(to right,rgba(33, 0, 133, 0.0),rgba(255, 0, 232, 0.0));*/
    background-color: #FCFCFC;
    color: black;
    border-radius: 0px;
}

#ubermelon-logo, #ubermelon-logo:hover, .navbar-dark .navbar-brand {
    color: #333333;
}

.navbar-nav>li>a, .navbar-dark .navbar-nav .nav-link {
    color: #4e62f8;
}

/*ul.nav a:hover { color: #BEFFEF !important; }*/

.a:hover{
  color: blue;
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
/*  padding: 10px;*/
  font-family: 'Varela Round';
/*  overflow: hidden;*/
}

input, textarea{
    background-color:#ffffff;
}

.home-logo {
  width: 800px;
  padding-right: 25%;
  padding-bottom: 40px;
}


#roam-free{
  padding-bottom: 40px;
}

.map-body{
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}


/*removes out margin padding on map page, may cause issues elsewhere?*/
/*.container-fluid{
    padding-left: 0;
    padding-right: 0;
}*/

.overflow-y {
  overflow-y: scroll !important;
}


.content {
  margin-bottom: 25% !important;
}

.center-col{
    width: 350px;
}
/*
Version : 1.0
Release Dtae : 15 November, 2017

---------------------------------------------------- */


.checkbox.checbox-switch {
    padding-left: 0;
}

.checkbox.checbox-switch label,
.checkbox-inline.checbox-switch {
    display: inline-block;
    position: relative;
    padding-left: 0;
}
.checkbox.checbox-switch label input,
.checkbox-inline.checbox-switch input {
    display: none;
}
.checkbox.checbox-switch label span,
.checkbox-inline.checbox-switch span {
    width: 35px;
    border-radius: 20px;
    height: 18px;
    border: 1px solid #dbdbdb;
    background-color: rgb(255, 255, 255);
    border-color: rgb(223, 223, 223);
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.checkbox.checbox-switch label span:before,
.checkbox-inline.checbox-switch span:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(255,255,255);
    content: " ";
    top: 0;
    position: relative;
    left: 0;
    transition: all 0.3s ease;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}
.checkbox.checbox-switch label > input:checked + span:before,
.checkbox-inline.checbox-switch > input:checked + span:before {
    left: 17px;
}


/* Switch Default */
.checkbox.checbox-switch label > input:checked + span,
.checkbox-inline.checbox-switch > input:checked + span {
    background-color: rgb(180, 182, 183);
    border-color: rgb(180, 182, 183);
    box-shadow: rgb(180, 182, 183) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch label > input:checked:disabled + span,
.checkbox-inline.checbox-switch > input:checked:disabled + span {
    background-color: rgb(220, 220, 220);
    border-color: rgb(220, 220, 220);
    box-shadow: rgb(220, 220, 220) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch label > input:disabled + span,
.checkbox-inline.checbox-switch > input:disabled + span {
    background-color: rgb(232,235,238);
    border-color: rgb(255,255,255);
}
.checkbox.checbox-switch label > input:disabled + span:before,
.checkbox-inline.checbox-switch > input:disabled + span:before {
    background-color: rgb(248,249,250);
    border-color: rgb(243, 243, 243);
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

/* Switch Light */
.checkbox.checbox-switch.switch-light label > input:checked + span,
.checkbox-inline.checbox-switch.switch-light > input:checked + span {
    background-color: rgb(248,249,250);
    border-color: rgb(248,249,250);
    box-shadow: rgb(248,249,250) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Switch Dark */
.checkbox.checbox-switch.switch-dark label > input:checked + span,
.checkbox-inline.checbox-switch.switch-dark > input:checked + span {
    background-color: rgb(52,58,64);
    border-color: rgb(52,58,64);
    box-shadow: rgb(52,58,64) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-dark label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-dark > input:checked:disabled + span {
    background-color: rgb(100, 102, 104);
    border-color: rgb(100, 102, 104);
    box-shadow: rgb(100, 102, 104) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Switch Success */
.checkbox.checbox-switch.switch-success label > input:checked + span,
.checkbox-inline.checbox-switch.switch-success > input:checked + span {
    background-color: rgb(40, 167, 69);
    border-color: rgb(40, 167, 69);
    box-shadow: rgb(40, 167, 69) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-success label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-success > input:checked:disabled + span {
    background-color: rgb(153, 217, 168);
    border-color: rgb(153, 217, 168);
    box-shadow: rgb(153, 217, 168) 0px 0px 0px 8px inset;
}

/* Switch Danger */
.checkbox.checbox-switch.switch-danger label > input:checked + span,
.checkbox-inline.checbox-switch.switch-danger > input:checked + span {
    background-color: rgb(200, 35, 51);
    border-color: rgb(200, 35, 51);
    box-shadow: rgb(200, 35, 51) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-danger label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-danger > input:checked:disabled + span {
    background-color: rgb(216, 119, 129);
    border-color: rgb(216, 119, 129);
    box-shadow: rgb(216, 119, 129) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Switch Primary */
.checkbox.checbox-switch.switch-primary label > input:checked + span,
.checkbox-inline.checbox-switch.switch-primary > input:checked + span {
    background-color: rgb(0, 105, 217);
    border-color: rgb(0, 105, 217);
    box-shadow: rgb(0, 105, 217) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-primary label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-primary > input:checked:disabled + span {
    background-color: rgb(109, 163, 221);
    border-color: rgb(109, 163, 221);
    box-shadow: rgb(109, 163, 221) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Switch Info */
.checkbox.checbox-switch.switch-info label > input:checked + span,
.checkbox-inline.checbox-switch.switch-info > input:checked + span {
    background-color: rgb(23, 162, 184);
    border-color: rgb(23, 162, 184);
    box-shadow: rgb(23, 162, 184) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-info label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-info > input:checked:disabled + span {
    background-color: rgb(102, 192, 206);
    border-color: rgb(102, 192, 206);
    box-shadow: rgb(102, 192, 206) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Switch Warning */
.checkbox.checbox-switch.switch-warning label > input:checked + span,
.checkbox-inline.checbox-switch.switch-warning > input:checked + span {
    background-color: rgb(255, 193, 7);
    border-color: rgb(255, 193, 7);
    box-shadow: rgb(255, 193, 7) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-warning label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-warning > input:checked:disabled + span {
    background-color: rgb(226, 195, 102);
    border-color: rgb(226, 195, 102);
    box-shadow: rgb(226, 195, 102) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}



h1{
    font-family: 'Varela Round', sans-serif;
    font-size: 60px;
}

h4{
    font-family: 'Varela Round', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

h6{
  color: #4e62f8 !important;
  text-decoration: underline !important;
}

p {
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
}

.checkbox-all{
  padding: 5px;
}

.col-sm-4{
    padding-right: 0px;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.btn-large{
   border-radius: 4px;
   background: linear-gradient(to right, #4e62f8, #4e62f8) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 13px;
   padding: 10px;
   width: 180px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
}


/*form*/
.camp-detail{
  /*box-shadow: 3px 3px 20px #A7A7A7;*/
  background-blend-mode: multiply;
  background: white !important;
  border-radius: 6px;
  width: 800px; 
/*  height: 800px;*/
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom:60px;
  margin-bottom: 80px;
}

.camp-background{
    background: #F5F5F5;
    padding: 80px;
    height: 100%;
}

.review-formatting{
    background: #F5F5F5;
    padding-top: 600px;
    padding-left: 180px;
    padding-right: 180px;
}

.overlayTextCamp {
  position:absolute;
  top:40%;
  left:20%;
  z-index:1;
}

.register-form{
  /*box-shadow: 3px 3px 20px #A7A7A7;*/
  background-blend-mode: multiply;
  background: white;
  border-radius: 6px;
  width: 600px; 
  padding: 30px;
  margin-bottom: 80px;
}

.register-background{
    background: #F5F5F5;
    padding: 80px;
    height: 100%;
}

.overlayText {
  position:absolute;
  top:40%;
  left:27%;
  z-index:1;
}

#description.form-control{
  width: 100% !important;
}


.alert-warning{
    background-color: #4e62f8;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    color: white;
    padding: 10px
    margin: 0;
}


.hid-box {
  top: 100%;
  position: relative;
  transition: all .3s ease-out;
  height: 100%;
}

.button-holder{
    margin-top: 20px;
    margin-bottom: 50px;
/*    position: fixed;
    width: 420px;
    bottom: 0px;
    background-color: #4e62f8;*/

}

.camp-body{
    background: #F5F5F5;
}

#clear-filter-button{
  background: transparent;
  border: transparent;
  color: #4e62f8;
  text-decoration: underline;
  padding-left: 5px;
  padding-top: 0;
  font-size: 14px;
}

.example_f {
   border-radius: 4px;
   background: linear-gradient(to right, #4e62f8, #4e62f8) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 13px;
   padding: 10px;
   width: 180px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
 }
 .example_f span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .example_f span:after {
   content: '\FE62';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .example_f:hover span {
   padding-right: 25px;
 }
 .example_f:hover span:after {
   opacity: 1;
   right: 0;
 }

 .a{
    color: white !important;
 }

 .review-padding{
    padding-bottom: 40px;
 }

 .review-stamp{
    color: #4e62f8;
 }

 .alert-dismissible .close{
    padding-bottom: 0;
}

#alert {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 0;
}

.alert-warning{
    margin: 0 !important;
}

