{% extends 'base.html' %}

{% block body %}
<head>

  <link rel="stylesheet" href="/static/css/campsite_detail.css">
</head>

     <header class="py-5 bg-image-full" style="background-image: url('static/images/robson-hatsukami-morgan-BWnHYb6kZAA-unsplash.jpg');">
<!--     <img class="img-fluid d-block mx-auto" src="static/images/toa-heftiba-x9I-6yoXrXE-unsplash.jpg" alt=""> -->
  </header>

<div class="register-background">
<div class="container register-form overlayText">
    <form action="/add-review" method="POST" class="container range-field my-4 w-100">
        <h5>Add review for:</h5> 
        <h2>{{ campsite.name }}</h2>
        <br>
        <div class="form-group">
            <textarea class="form-control" name="review" rows="5" id="description" placeholder="What did you think about this campsite?"></textarea>
        </div>
        <br>
        <h4>Ratings:</h4>

        <div>
          <h5>Noise level</h5>
        
            <div class="radio inline">
              <label><input type="radio" name="noiselevel" value="1">1</label>
              <label><input type="radio" name="noiselevel" value="2">2</label>
              <label><input type="radio" name="noiselevel" value="3">3</label>
              <label><input type="radio" name="noiselevel" value="4">4</label>
              <label><input type="radio" name="noiselevel" value="5">5</label>
              <label><input type="radio" name="noiselevel" value="6">6</label>
              <label><input type="radio" name="noiselevel" value="7">7</label>
              <label><input type="radio" name="noiselevel" value="8">8</label>
              <label><input type="radio" name="noiselevel" value="9">9</label>
              <label><input type="radio" name="noiselevel" value="10">10</label>
            </div>
        </div>

        <div>
          <h5>Privacy level</h5>
            <div class="radio inline">
              <label><input type="radio" name="privacylevel" value="1">1</label>
              <label><input type="radio" name="privacylevel" value="2">2</label>
              <label><input type="radio" name="privacylevel" value="3">3</label>
              <label><input type="radio" name="privacylevel" value="4">4</label>
              <label><input type="radio" name="privacylevel" value="5">5</label>
              <label><input type="radio" name="privacylevel" value="6">6</label>
              <label><input type="radio" name="privacylevel" value="7">7</label>
              <label><input type="radio" name="privacylevel" value="8">8</label>
              <label><input type="radio" name="privacylevel" value="9">9</label>
              <label><input type="radio" name="privacylevel" value="10">10</label>
            </div>
        </div>

        <div>
          <h5>Risk level</h5>
            <div class="radio inline">
              <label><input type="radio" name="risklevel" value="1">1</label>
              <label><input type="radio" name="risklevel" value="2">2</label>
              <label><input type="radio" name="risklevel" value="3">3</label>
              <label><input type="radio" name="risklevel" value="4">4</label>
              <label><input type="radio" name="risklevel" value="5">5</label>
              <label><input type="radio" name="risklevel" value="6">6</label>
              <label><input type="radio" name="risklevel" value="7">7</label>
              <label><input type="radio" name="risklevel" value="8">8</label>
              <label><input type="radio" name="risklevel" value="9">9</label>
              <label><input type="radio" name="risklevel" value="10">10</label>
            </div>
        </div>

    <input type="hidden" value="{{ campsite.name }}" name="campsite_name" />

    <br>
    <div class="form-group">
      <input type="submit" value="Add Review" class="submit-map-button">
    </div>

    </form>
</div>
</div>


     

{% endblock %}