{% extends 'base.html' %}

{% block body %}

<h2 class="container">Add a new campsite</h2>

<form action="/sign-up" method="POST" class="container">

    <h4>General Information(required)</h4>

    <div class="form-group">
      <label>Name:
          <input type="text" name="name" required class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>Latitude:
          <input type="text" name="lname" required class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>Longitude:
          <input type="email" name="email" required class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
      </label>
    </div>

    <h4>Campsite Amenities</h4>

    <div class="checkbox">
      <label><input type="checkbox" value="electricity">Electricity</label>
    </div>

    <div class="checkbox">
      <label><input type="checkbox" value="wifi">Wifi</label>
    </div>

    <div class="checkbox disabled">
      <label><input type="checkbox" value="showers">Showers</label>
    </div>

     <div class="checkbox">
      <label><input type="checkbox" value="water">Water</label>
    </div>

    <div class="checkbox">
      <label><input type="checkbox" value="toilets">Toilets</label>
    </div>

    <div class="checkbox disabled">
      <label><input type="checkbox" value="petfriendly">Pet Friendly</label>
    </div>

    <div class="checkbox disabled">
      <label><input type="checkbox" value="tentfriendly">Tent Friendly</label>
    </div>


    <h4>Ratings</h4>

    <div>
      <h5>Noise level</h5>
        <div class="radio inline">
          <label><input type="radio" value="1">1</label>
          <label><input type="radio" value="2">2</label>
          <label><input type="radio" value="3">3</label>
          <label><input type="radio" value="4">4</label>
          <label><input type="radio" value="5">5</label>
          <label><input type="radio" value="6">6</label>
          <label><input type="radio" value="7">7</label>
          <label><input type="radio" value="8">8</label>
          <label><input type="radio" value="9">9</label>
          <label><input type="radio" value="10">10</label>
        </div>
    </div>

    <div>
      <h5>Privacy level</h5>
        <div class="radio inline">
          <label><input type="radio" value="1">1</label>
          <label><input type="radio" value="2">2</label>
          <label><input type="radio" value="3">3</label>
          <label><input type="radio" value="4">4</label>
          <label><input type="radio" value="5">5</label>
          <label><input type="radio" value="6">6</label>
          <label><input type="radio" value="7">7</label>
          <label><input type="radio" value="8">8</label>
          <label><input type="radio" value="9">9</label>
          <label><input type="radio" value="10">10</label>
        </div>
    </div>

    <div>
      <h5>Risk level</h5>
        <div class="radio inline">
          <label><input type="radio" value="1">1</label>
          <label><input type="radio" value="2">2</label>
          <label><input type="radio" value="3">3</label>
          <label><input type="radio" value="4">4</label>
          <label><input type="radio" value="5">5</label>
          <label><input type="radio" value="6">6</label>
          <label><input type="radio" value="7">7</label>
          <label><input type="radio" value="8">8</label>
          <label><input type="radio" value="9">9</label>
          <label><input type="radio" value="10">10</label>
        </div>
    </div>

    <div class="form-group">
      <input type="submit" value="Add Campsite" class="btn-dark">
    </div>


</form>



{% endblock %}