{% extends 'base.html' %}

{% block body %}



<h2 class="container">Add a new campsite</h2>

<form action="/add-campsite" method="POST" class="container">

    <h4>General Information(required)</h4>

    <div class="form-group">
      <label>Name:
          <input type="text" name="name" required class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>Latitude:
          <input type="float" name="lat" required class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>Longitude:
          <input type="float" name="lon" required class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
        <textarea class="form-control" name="description" rows="5" id="description"></textarea>
      </label>
    </div>

    <h4>Permit Info</h4>

    <div class="checkbox">
      <label><input type="checkbox" name="permit" value="True">Yes, you need a permit</label><br>
      <label><input type="checkbox" name="permit" value="False">No permit neccessary</label>
    </div>

    <div class="form-group">
      <label for="permit_info">Details:</label>
        <textarea class="form-control" name="permit_info" rows="3" id="description"></textarea>
      </label>
    </div>

    <h4>Campsite Amenities</h4>

    {% for amenity in amenities %}
      <div class="checkbox container" >
        <input
          id="amenity-{{ amenity.amenity_id }}"
          type="checkbox"
          name="amenities"
          value="{{ amenity.amenity_id }}"
        >
        <label for="amenity-{{ amenity.amenity_id }}">
          {{ amenity.name }}
        </label>
      </div>
    {% endfor %}
    
    <h4>Ratings</h4>

    <div>
      <h5>Noise level</h5>
        <div class="radio inline">
          <label><input type="radio" name="noiselevel" value="1">1</label>
          <label><input type="radio" name="noiselevel" value="2">2</label>
          <label><input type="radio" name="noiselevel" value="3">3</label>
          <label><input type="radio" name="noiselevel" value="4">4</label>
          <label><input type="radio" name="noiselevel" value="5">5</label>
          <label><input type="radio" name="noiselevel" value="6">6</label>
          <label><input type="radio" name="noiselevel" value="7">7</label>
          <label><input type="radio" name="noiselevel" value="8">8</label>
          <label><input type="radio" name="noiselevel" value="9">9</label>
          <label><input type="radio" name="noiselevel" value="10">10</label>
        </div>
    </div>

    <div>
      <h5>Privacy level</h5>
        <div class="radio inline">
          <label><input type="radio" name="privacylevel" value="1">1</label>
          <label><input type="radio" name="privacylevel" value="2">2</label>
          <label><input type="radio" name="privacylevel" value="3">3</label>
          <label><input type="radio" name="privacylevel" value="4">4</label>
          <label><input type="radio" name="privacylevel" value="5">5</label>
          <label><input type="radio" name="privacylevel" value="6">6</label>
          <label><input type="radio" name="privacylevel" value="7">7</label>
          <label><input type="radio" name="privacylevel" value="8">8</label>
          <label><input type="radio" name="privacylevel" value="9">9</label>
          <label><input type="radio" name="privacylevel" value="10">10</label>
        </div>
    </div>

    <div>
      <h5>Risk level</h5>
        <div class="radio inline">
          <label><input type="radio" name="risklevel" value="1">1</label>
          <label><input type="radio" name="risklevel" value="2">2</label>
          <label><input type="radio" name="risklevel" value="3">3</label>
          <label><input type="radio" name="risklevel" value="4">4</label>
          <label><input type="radio" name="risklevel" value="5">5</label>
          <label><input type="radio" name="risklevel" value="6">6</label>
          <label><input type="radio" name="risklevel" value="7">7</label>
          <label><input type="radio" name="risklevel" value="8">8</label>
          <label><input type="radio" name="risklevel" value="9">9</label>
          <label><input type="radio" name="risklevel" value="10">10</label>
        </div>
    </div>

    <div class="form-group">
      <input type="submit" value="Add Campsite" class="btn-dark">
    </div>
</form>




{% endblock %}