<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <!-- UPDATE WHEN I HAVE MY OWN CSS FILE: <link rel="stylesheet" href="/static/css/site.css"/> -->
</head>
<body>

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            <!-- <img src="/static/img/ubermelon-logo.png"> -->
            <a class="navbar-brand" href="/">Camp California</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/view-campsites">View Campsites</a></li>
                <li><a href="/add-campsite">Add Campsite</a></li>
<!--                 <li><a href="/">Log In</a></li> -->
<!--                 <li><a href="/logout">Log Out</a></li> -->
                {% if "user_id" in session %}
                  <li><a href="/logout">Logout</a></li>
                {% else %}
                  <li><a href="/">Login</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

  <!-- This is where the main content goes. -->
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

</body>
</html>