{% extends 'base.html' %}

{% block body %}

<div class="container">
<h1>Roam Free</h1>
<p>We are a community making exploring the USA more accessible.</p>

      <form id="filter-form" method="GET" action='/map' action='/map_data'>
        <div class="form-group">
          <label for="state-field"><h4>Where do you want to go?</h4></label>
          <input type="text"
                 class="form-control"
                 name="state"
                 id="state-field"
                 placeholder="Search by state"
                 >
        </div>

        <div class="form-group">
          <input type="submit" value="Search" class="btn-dark">
        </div>
      </form>
</div>

{% endblock %}