{% extends 'base.html' %}

{% block body %}



<div class="container">
    <h1>All Campsites</h1>
    <br>
</div>

  {% for campsite in campsites %}
    <div class="container"
        <ul>
            <h3>{{ campsite.name }}</h3>
            <h5>{{ campsite.lat }} | {{ campsite.lon }}</h5>
            <p>{{ campsite.description }}</p>
            <a href="/campsite-details?campsite={{ campsite.name }}">View Details</a><span> | </span>
            <a href="/add-review?campsite={{ campsite.name }}">Add Review</a>
        </ul>
    </div>
  {% endfor %}


{% endblock %}