{% extends 'base.html' %}

{% block body %}

<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- jQuery cdn -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <!-- mapbox links -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' /> 
</head>


<!-- <form action="/view-campsites" method="POST" class="container">


    <div class="form-group">
      <label><h4>Search by state:</h4>
          <input type="text" name="state" required class="form-control">
      </label>
    </div>
</form> -->

<div class="container">
    <h1>All Campsites</h1>
    <br>
</div>

  {% for campsite in campsites %}
    <div class="container">
        <ul>
            <h3>{{ campsite.name }}</h3>
            <h5>{{ campsite.lat }} | {{ campsite.lon }}</h5>
            <p>{{ campsite.description }}</p>
            <a href="/campsite-details?campsite={{ campsite.name }}">View Details</a><span> | </span>
            <a href="/add-review?campsite={{ campsite.name }}">Add Review</a><span> | 
            </span>
            <a href="/add_to_trip_cart/{{ campsite.name }}">Add to Trip</a><span>
        </ul>
    </div>
  {% endfor %}


  <script>
    //mapbox api token, stored in config
    mapboxgl.accessToken = '{{ token }}';
  </script>


{% endblock %}